:root {
  --font-sora: "Sora", serif;
  --font-adlam: "ADLaM Display", serif;
}

.animated-btn {
  padding: 15px 30px;
  font-size: 18px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: buttonAnimation 2s infinite ease-in-out;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.box1 {
  border-radius: 8.37px;
  background: linear-gradient(
    134.71deg,
    rgb(247, 204, 251) 1.511%,
    rgb(175, 210, 253) 100%
  );
}

.box2 {
  border-radius: 8.37px;
  background: linear-gradient(
    134.71deg,
    rgb(255, 249, 244) 1.511%,
    rgb(249, 223, 138) 100%
  );
}

.footer-div{
  padding: 0px 140px; 
}

@media only screen and (max-width: 600px) {
  .footer-div{
  padding: 0px 0px; 
}
}